@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #1f1f1f;
  --alt-bg-color: #2e2e2e;
  --main-color: #fff8e7;
  --light-color: #77767b;
  --accent-color: #ffc400;
  --transition: 250ms ease-in-out all;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1, h2 {
  color: var(--accent-color);
}

a {
  color: var(--main-color);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: var(--accent-color);
}

em {
  text-decoration: none;
  font-style: normal;
  color: var(--accent-color);
  transition: var(--transition);
  display:inline-block;
}

em:hover {
  transform: scale(120%);
}

.outer__container {
  width: 100%;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto 50px;
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    width: 80%;
  }

  em:hover {
    transform: none;
  }
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  em:hover {
    transform: none;
  }
}
